## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [3]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [4]:
# Passo 1: Definir o número de questões por assunto
num_questoes_matematica = 24
num_questoes_portugues = 18
num_questoes_geografia = 8
num_questoes_ingles = 8
num_questoes_historia = 8
num_questoes_fisica = 12
num_questoes_quimica = 12

In [5]:
# 1)(operações com escalar) Calcule o percentual de acerto dos alunos por assunto.
df_acerto_mat = round((df_mat / num_questoes_matematica) * 100, 1)
df_acerto_por = round((df_por / num_questoes_portugues) * 100, 1)
df_acerto_geo = round((df_geo / num_questoes_geografia) * 100, 1)
df_acerto_ing = round((df_ing / num_questoes_ingles) * 100, 1)
df_acerto_his = round((df_his / num_questoes_historia) * 100, 1)
df_acerto_fis = round((df_fis / num_questoes_fisica) * 100, 1)
df_acerto_qui = round((df_qui / num_questoes_quimica) * 100, 1)

In [6]:
#renomeando as colunas
df_acerto_mat = df_acerto_mat.rename(columns ={'Qt_acertos':'% Acert. Mat'}) 
df_acerto_por = df_acerto_por.rename(columns ={'Qt_acertos':'% Acert. Por'}) 
df_acerto_geo = df_acerto_geo.rename(columns ={'Qt_acertos':'% Acert. Geo'}) 
df_acerto_ing = df_acerto_ing.rename(columns ={'Qt_acertos':'% Acert. Ing'}) 
df_acerto_his = df_acerto_his.rename(columns ={'Qt_acertos':'% Acert. His'}) 
df_acerto_fis = df_acerto_fis.rename(columns ={'Qt_acertos':'% Acert. Fis'}) 
df_acerto_qui = df_acerto_qui.rename(columns ={'Qt_acertos':'% Acert. Qui'})

In [7]:
#concatenando as dataframes
df_acerto_assunto = pd.concat([df_acerto_mat, df_acerto_por, df_acerto_geo, df_acerto_ing, df_acerto_his, df_acerto_fis, df_acerto_qui] , axis =1)
df_acerto_assunto.head()

,% Acert. Mat,% Acert. Por,% Acert. Geo,% Acert. Ing,% Acert. His,% Acert. Fis,% Acert. Qui
0,25.0,38.9,87.5,37.5,12.5,66.7,25.0
1,79.2,55.6,0.0,0.0,0.0,91.7,66.7
2,58.3,88.9,0.0,62.5,87.5,33.3,33.3
3,41.7,38.9,37.5,50.0,0.0,0.0,66.7
4,29.2,11.1,25.0,87.5,0.0,75.0,25.0

In [8]:
# 2) (operações entre *DataFrames) Calcule o total de acertos de cada aluno.
df_total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
df_total_acertos = df_total_acertos.rename(columns ={'Qt_acertos':'Ttl. Acert. por aluno'}) 
df_total_acertos.head()

   Ttl. Acert. por aluno
0                     35
1                     48
2                     50
3                     32
4                     30

In [9]:
# 3) Calcule o porcentual geral de cada aluno
total_questoes = num_questoes_matematica + num_questoes_portugues + num_questoes_geografia + num_questoes_ingles + num_questoes_historia + num_questoes_fisica + num_questoes_quimica

df_porc_total_por_aluno = round(((df_total_acertos / total_questoes) * 100), 2)

df_porc_total_por_aluno = df_porc_total_por_aluno.rename(columns ={'Ttl. Acert. por aluno' : '% Acert. por aluno'})
df_porc_total_por_aluno.head()

   % Acert. por aluno
0               38.89
1               53.33
2               55.56
3               35.56
4               33.33

In [10]:
# 4) Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?
# Verificando quantos alunos têm nota maior que 45

df_total_acertos['Acima Nota Corte'] = 0
df_total_acertos.loc[df_total_acertos['Ttl. Acert. por aluno'] >= 45, 'Acima Nota Corte'] = 1
total_alunos_acima_corte = df_total_acertos['Acima Nota Corte'].sum()

print("O número total de alunos com nota acima de 45 é: ",  total_alunos_acima_corte)

O número total de alunos com nota acima de 45 é:  34

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

1. Para a primeira atividade eu vou criar um novo dataframe combinando vários df para facilitar a leitura.

In [11]:
df_acerto_assunto['Desqualificados'] = 0
df_acerto_assunto.head()

,% Acert. Mat,% Acert. Por,% Acert. Geo,% Acert. Ing,% Acert. His,% Acert. Fis,% Acert. Qui,Desqualificados
0,25.0,38.9,87.5,37.5,12.5,66.7,25.0,0
1,79.2,55.6,0.0,0.0,0.0,91.7,66.7,0
2,58.3,88.9,0.0,62.5,87.5,33.3,33.3,0
3,41.7,38.9,37.5,50.0,0.0,0.0,66.7,0
4,29.2,11.1,25.0,87.5,0.0,75.0,25.0,0

In [12]:
# Filtrando os alunos que zeraram em Matemática, Física ou Química

df_acerto_assunto.loc[(df_acerto_assunto[['% Acert. Mat', '% Acert. Fis', '% Acert. Qui']] == 0).any(axis=1), 'Desqualificados'] = 1
df_acerto_assunto.head()

,% Acert. Mat,% Acert. Por,% Acert. Geo,% Acert. Ing,% Acert. His,% Acert. Fis,% Acert. Qui,Desqualificados
0,25.0,38.9,87.5,37.5,12.5,66.7,25.0,0
1,79.2,55.6,0.0,0.0,0.0,91.7,66.7,0
2,58.3,88.9,0.0,62.5,87.5,33.3,33.3,0
3,41.7,38.9,37.5,50.0,0.0,0.0,66.7,1
4,29.2,11.1,25.0,87.5,0.0,75.0,25.0,0

2. Número de alunos desqualificados

In [13]:
# Exibindo o número de alunos desqualificados

quantidade_desqualificados = df_acerto_assunto['Desqualificados'].sum()

print(f"Quantidade de alunos desqualificados: {quantidade_desqualificados}")

Quantidade de alunos desqualificados: 23

3. Qual a média desses alunos em história e geografia?

In [14]:
# Filtrando os alunos desqualificados
df_desqualificados = df_acerto_assunto[df_acerto_assunto['Desqualificados'] == 1]
df_desqualificados.head()

,% Acert. Mat,% Acert. Por,% Acert. Geo,% Acert. Ing,% Acert. His,% Acert. Fis,% Acert. Qui,Desqualificados
3,41.7,38.9,37.5,50.0,0.0,0.0,66.7,1
6,25.0,0.0,87.5,87.5,62.5,0.0,33.3,1
10,41.7,44.4,37.5,25.0,12.5,58.3,0.0,1
12,83.3,44.4,37.5,87.5,12.5,0.0,25.0,1
14,29.2,61.1,12.5,87.5,12.5,33.3,0.0,1

In [15]:
media_desqualificados = df_desqualificados[['% Acert. His', '% Acert. Geo',]].mean()

print("Média das notas dos desqualificados:")
print(media_desqualificados)

Média das notas dos desqualificados:
% Acert. His    42.934783
% Acert. Geo    40.217391
dtype: float64

# 4. Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [36]:
# Definir a nota de corte para a segunda fase
nota_de_corte = 45

# Filtrar os alunos que não foram desqualificados e têm nota maior que a nota de corte
df_segunda_fase = df_acerto_assunto[
    (df_acerto_assunto['Desqualificados'] != 1) & (df_total_acertos['Ttl. Acert. por aluno'] > nota_de_corte) ]
#descartando a coluna 'Desqualificados' por ser desnecessário
df_segunda_fase = df_segunda_fase.drop(['Desqualificados'], axis=1)
# Exibir o DataFrame dos alunos que passaram para a segunda fase
df_segunda_fase

,% Acert. Mat,% Acert. Por,% Acert. Geo,% Acert. Ing,% Acert. His,% Acert. Fis,% Acert. Qui
1,79.2,55.6,0.0,0.0,0.0,91.7,66.7
2,58.3,88.9,0.0,62.5,87.5,33.3,33.3
5,83.3,11.1,62.5,37.5,25.0,75.0,75.0
7,75.0,22.2,50.0,87.5,87.5,8.3,66.7
8,91.7,50.0,25.0,87.5,75.0,41.7,58.3
17,87.5,83.3,25.0,25.0,50.0,16.7,50.0
18,83.3,22.2,37.5,62.5,37.5,91.7,33.3
24,83.3,11.1,87.5,62.5,37.5,91.7,16.7
31,62.5,72.2,37.5,12.5,37.5,75.0,83.3
36,91.7,50.0,75.0,75.0,12.5,33.3,66.7
37,79.2,66.7,62.5,87.5,12.5,50.0,16.7
39,16.7,88.9,25.0,50.0,75.0,75.0,66.7
40,75.0,16.7,75.0,37.5,75.0,41.7,50.0
42,83.3,33.3,87.5,87.5,25.0,25.0,25.0
45,70.8,55.6,0.0,25.0,75.0,75.0,33.3
48,70.8,33.3,0.0,87.5,62.5,75.0,91.7
60,66.7,44.4,0.0,50.0,50.0,58.3,75.0
62,70.8,33.3,25.0,50.0,87.5,8.3,75.0
67,87.5,0.0,87.5,25.0,50.0,16.7,83.3
70,87.5,77.8,0.0,37.5,62.5,91.7,66.7
71,70.8,44.4,87.5,75.0,50.0,16.7,75.0
77,62.5,11.1,62.5,87.5,75.0,91.7,58.3
78,58.3,88.9,87.5,25.0,87.5,91.7,75.0
81,91.7,88.9,25.0,0.0,50.0,8.3,83.3
88,83.3,5.6,12.5,62.5,87.5,75.0,58.3
93,50.0,88.9,62.5,62.5,75.0,50.0,50.0

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [52]:
import pandas as pd
import numpy as np
df_vacina = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')
df_vacina.head(2)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,eabf4056-cbc0-4cdf-856d-a122b5243917-i0b0,cf3c1f8005be8e3a6dcfd7476776b6d6de52afb20f4d30...,37,1984-02-10,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,9.0,Trabalhadores de Saúde,FF8848,PFIZER,Organization/00394544000851,2021-10-20,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,dd097975-d896-4adc-97a1-5de3f51792a4-i0b0,5310f2da2074b4d20620f811323a6f7c4fc8853fc5a41f...,22,1998-08-09,F,99,SEM INFORMACAO,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-23,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

# 1) Quantas vacinas estão registradas nessa base?

In [53]:
arr_vacina_unica = df_vacina['vacina_nome'].nunique()

print(f"Temos {arr_vacina_unica} vacinas únicas registradas na base.")

Temos 15 vacinas únicas registradas na base.

# 2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id)

In [54]:

num_pacientes_vacinados = df_vacina['paciente_id'].nunique()
print(f"Temos {num_pacientes_vacinados} pacientes vacinados na base.")

Temos 318850 pacientes vacinados na base.

# 3) Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método .unique()

In [55]:
paciente_1a_dose = df_vacina[df_vacina['vacina_descricao_dose'] == "1ª Dose" ]['paciente_id'].nunique()

print(f"Quantidade de pacientes únicos que tomaram a primeira dose: {paciente_1a_dose}")

Quantidade de pacientes únicos que tomaram a primeira dose: 143753

# 4. Quantos pacientes com menos de 18 anos foram vacinados?

In [56]:
num_pacientes_menos18_vacinados = df_vacina[df_vacina['paciente_idade'] < 18]['paciente_id'].nunique()
print(f"Quantidade de pacientes com menos de 18 anos é: {num_pacientes_menos18_vacinados}")

Quantidade de pacientes com menos de 18 anos é: 69726

# 5. Quantos estabelecimentos aplicaram vacina no Acre?

In [64]:
# verificando as colunas
df_vacina.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [63]:
num_estabelecimentos = df_vacina['estabelecimento_razaoSocial'].nunique()
print(f"Temos {num_estabelecimentos} estabelebimento(s), na base, que aplicaram vacinas. ")

Temos 64 estabelebimento(s), na base, que aplicaram vacinas.

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [68]:
# 1) Crie uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos.
df_vacina_menor = df_vacina[df_vacina["paciente_idade"]<18].copy()

In [82]:
# 2) Crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()
list_coluna_df_vacina_menor = list(df_vacina_menor.columns)
print(type(list_coluna_df_vacina_menor))
list_coluna_df_vacina_menor

<class 'list'>

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [84]:
# 3) Nesse DataFrame faça uma contagem do campo vacina_categoria_nome
df_vacina_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      49015
Povos Indígenas                                    4934
Outros                                             3755
Povos e Comunidades Tradicionais                    875
Trabalhadores de Saúde                              264
Comorbidades                                         58
População Privada de Liberdade                       53
Gestantes                                            47
Trabalhadores da Educação                            14
Trabalhadores de Transporte                          13
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [93]:
# 4) a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.
lista_variaveis_estabelecimento = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [94]:
# 5)usando o método .loc, selecione somente essas variáveis
list__estabelecimento_menor= df_vacina_menor.loc[:,lista_variaveis_estabelecimento]

In [95]:
# 6) Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento
list__estabelecimento_menor = list__estabelecimento_menor.drop_duplicates()
list__estabelecimento_menor.shape

(213, 6)