# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo SINASC_RO_2019.csv` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo `estrutura_sinasc_para_CD.pdf` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
`
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis `['ESTCIVMAE', 'CONSULTAS']` possuem o código `9`, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código `9`.<br>
6. Substitua os valores faltantes da quantitativa (`QTDFILVIVO`) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção `inplace = True`.

# 1) Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base.

In [79]:
import pandas as pd
import numpy as np
import requests

#Lendo o arquivo CSV
sinasc = pd.read_csv('SINASC_RO_2019_1.csv')
sinasc.head(1)

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [83]:
#Verificando se há duplicados
sinasc[sinasc.duplicated()==1].shape

(0, 69)

Não temos duplicados.

# 2) Conte o número de valores missing por variável.

In [85]:
#Contando o número de valores faltantes
sinasc.isnull().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

# 3) crie uma seleção dessa base somente com as colunas que interessam

In [89]:
# Selecionar colunas de interesse
colunas_interesse = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']

# Contar valores missing nas colunas de interesse
df_selecionado = sinasc[colunas_interesse]
valores_faltantes_apgar5 = df_selecionado.APGAR5.isnull().sum()
print(f'A contagem de valores faltantes é: ,\n {valores_faltantes_selecionados}')

A contagem de valores faltantes é: ,
 103

# 4) remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de missings.

In [91]:
#removendo os missing values
df_selecionado = df_selecionado.dropna(subset=['APGAR5'])
print(f'A contagem de valores faltantes é: ,\n {df_selecionado.APGAR5.isnull().sum()}')

A contagem de valores faltantes é: ,
 0

# 5) observe que as variáveis ['ESTCIVMAE', 'CONSULTAS'] possuem o código 9, que significa ignorado. Vamos assumir que o não preenchido é o mesmo que o código 9.

In [65]:
# Substituir valores ausentes por 9 nas colunas 'ESTCIVMAE' e 'CONSULTAS'
df_selecionado[['ESTCIVMAE', 'CONSULTAS']] = df_selecionado[['ESTCIVMAE', 'CONSULTAS']].fillna(9)

# Verificando se a substituição foi feita
print(df_selecionado[['ESTCIVMAE', 'CONSULTAS']].isnull().sum())

ESTCIVMAE    0
CONSULTAS    0
dtype: int64

# 6) Substitua os valores faltantes da quantitativa (QTDFILVIVO) por zero.

In [95]:
# Substituir os valores faltantes na coluna 'QTDFILVIVO' por zero
df_selecionado['QTDFILVIVO'] = df_selecionado['QTDFILVIVO'].fillna(0)

# Verificar se a substituição foi feita corretamente
missing_values_qtdfilvivo = df_selecionado['QTDFILVIVO'].isnull().sum()
print(f"Número de valores faltantes em `QTDFILVIVO` após substituição: {missing_values_qtdfilvivo}")

Número de valores faltantes em `QTDFILVIVO` após substituição: 0

# 7) Verificando e tratando os Nan restantes

In [124]:
#calculando a média de valor da coluna ['GESTACAO']
media_col_gestacao = df_selecionado['GESTACAO'].mean()

# Exemplo: Substituir missing de GESTACAO com a média
df_selecionado['GESTACAO'].fillna(media_col_gestacao, inplace=True)

C:\Users\mtidi\AppData\Local\Temp\ipykernel_25280\3230717553.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_selecionado['GESTACAO'].fillna(media_col_gestacao, inplace=True)

In [122]:
df_selecionado['GESTACAO'].isnull().any()

False

# 8) Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização

In [157]:
df_selecionado.loc[df_selecionado['APGAR5'] <= 3, 'APGAR CATEGORIA'] = 'asfixia severa'
df_selecionado.loc[(df_selecionado['APGAR5'] > 3) & (df_selecionado['APGAR5'] <= 5), 'APGAR CATEGORIA'] = 'asfixia leve'
df_selecionado.loc[(df_selecionado['APGAR5'] > 5) & (df_selecionado['APGAR5'] <= 7), 'APGAR CATEGORIA'] = 'asfixia moderada'
df_selecionado.loc[df_selecionado['APGAR5'] > 7, 'APGAR CATEGORIA'] = 'normal'

df_selecionado['APGAR CATEGORIA'].value_counts()

APGAR CATEGORIA
normal              26463
asfixia moderada      320
asfixia severa         74
asfixia leve           68
Name: count, dtype: int64

In [163]:
df_selecionado.columns

Index(['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO',
       'GRAVIDEZ', 'CONSULTAS', 'APGAR5', 'APGAR CATEGORIA'],
      dtype='object')

# 9) Renomeie as variáveis para que fiquem no snake case, ou seja, em letras minúsculas, com um underscore entre as palávras. 
Dica: repare que se você não quiser criar um dataframe novo, você vai precisar usar a opção inplace = True.

In [165]:
df_selecionado.columns = df_selecionado.columns.str.lower().str.replace(' ', '_')
df_selecionado.columns

Index(['locnasc', 'idademae', 'estcivmae', 'escmae', 'qtdfilvivo', 'gestacao',
       'gravidez', 'consultas', 'apgar5', 'apgar_categoria'],
      dtype='object')